.venv/
__pycache__/
*.pyc
.env
docker-compose.override.yml
storage/
frontend/node_modules/
frontend/dist/
*.tsbuildinfo
search.json
downloaded_test_video.mp4
app/ez.mp4
*.mp4
*.log
.DS_Store
app/ez.mp4
benchmarks/*pipeline.csv
benchmarks/*video_ids.csv
